body{
    box-sizing: border-box;
    background-color: linen;
}

@font-face{
    font-family: Title Font;
    src: url("/oregano.ttf");
}

@font-face{
    font-family: Paragraph Font;
    src: url("/dosis.ttf");
}

h1{
    box-sizing: border-box;
    padding: 25px;

    display: inline;

    font-family: Title Font;
    color:rgb(235, 175, 107);

    font-size: 400px;

    text-align: center;
}


h2{
    box-sizing: border-box;
    padding: 25px;

    display: block;

    font-family: Title Font;
    color:rgb(235, 175, 107);

    font-size: 500px;

    height:10;

    text-align: center;
}

h3{
    font-family: Paragraph Font;
    font-size: 100px;
}

h4{
    font-family: Paragraph Font;
    font-size: 100px
}

p{
    box-sizing: border-box;
    padding: 25px;

    display: block;
    font-size: 40px;
    text-align: center;
    font-family: Paragraph Font;
}

div{
    box-sizing: border-box;
    padding: 25px;
}